---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Browser Support">
	<main>
		<h1>Browser Support</h1>
    <p>Now supported in all major, evergreen, browsers</p>
    <picture>
        <img src="/importmaps.png" alt="ðŸ˜" >
      </picture>
  </main>
  <Controls href="cdns" />
</Layout>