---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="CDNs">
	<main>
		<h1>NPM + ESM CDNs</h1>
    <h2>JSPM.IO</h2>
    <p>Features a great web interface for exploring how to use import maps in browser, deno and more.</p>
    <img src="jspm.png"/>
  </main>
  <Controls href="mesozoic" />
</Layout>