---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="CDNs">
	<main>
		<h1>NPM + ESM CDNs</h1>
      <h2>ESM.SH</h2>
    <p>A surgical tool for using ESM today. Supports TypeScript headers, converts legacy CJS packages to ESM, aliasing dependencies, and much more.</p>
    <img src="esm-2.png"/>
    
  </main>
  <Controls href="cdns-2" />
</Layout>