---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Things">
	<main>
		<h1>Modern Code Splitting</h1>
    <p>Using ESM and import maps allow souce code and modules to be loaded dynamically, as needed.</p>
    <p>Specifiers in your importmap are not downloaded/parsed until imported in your source code.</p>
    <p>This can be combined with concepts such a "Suspense" and "Lazy Loading" offered by libraries like React.</p>
    <Code code={`import React, { Suspense } from 'react';

const OtherComponent = React.lazy(() => import('./OtherComponent.js'));
`} lang="js" theme="dracula" />
    
  </main>
  <Controls href="cdns.html" />
</Layout>