---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Cons">
	<main>
		<h1>Cons</h1>
    <ol style="margin-top:2rem">
      <li>Tooling for managing import maps is still in early days. This can feel clunky and very manual.</li>
      <li>Much of the NPM ecosystem has not been migrated to ESM (yet)</li>
      <li>Relying on ESM CDNs can be a liability</li>
    </ol>
  </main>
  <Controls href="cdns" />
</Layout>