---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Deno">
	<main>
		<h1>Deno</h1>
    <picture>
      <img src="deno.png">
    </picture>
  </main>
  
  <Controls href="what" />
</Layout>