---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Deno">
	<main>
		<h1>Deno</h1>
    <p>JS runtime built on web standards. All ESM, and integrates many web API's such as fetch, readable streams, and more.</p>
    <picture>
      <img src="deno.png">
    </picture>
  </main>
  
  <Controls href="deno-2" />
</Layout>