---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Node regrets">
	<main>
		<h1>Node regrets (he's had a few)</h1>
    <picture>
      <img src="ry1.png">
    </picture>
    <img src="ry2.png">
    <img src="ry3.png">
  </main>
  
  <Controls href="what" />
</Layout>