---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="End">
	<main>
		<h1>End</h1>
    <picture>
      <img width="1000" src="exhibitionist.webp">
    </picture>
    <h4>https://exhibitionist.digital</h4>
    <h4>github.com/mashaal</h4>
    <h4>@mutal__respect</h4>
  </main>
  <Controls href="end" />
</Layout>