---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="End">
	<main>
		<h1>End</h1>
    <picture>
      <img src="exhibitionist.webp">
    </picture>
  </main>
  <Controls href="end" />
</Layout>