---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Example">
	<main>
		<h1>A Simple Example</h1>
    <!-- <p>Import Maps allow usage of bare specifiers across your ESM codebase.</p> -->
    <Code code={`<script type="importmap">
{
  "imports": {
    "react": "https://esm.sh/react"
  }
}
</script>

<script type="module">
  import react from 'react';
  console.log(react);
</script>`} lang="html" theme="dracula" />
  </main>
  <Controls href="scopes" />
</Layout>