---
import Layout from '../layouts/Slide.astro';
import Controls from '../components/Controls.astro';
---

<Layout title="Frameworks">
	<main>
			<h1>Modern Frameworks which support Import Maps today!</h1>
			<picture>
				<iframe src="https://giphy.com/embed/3oz8xBmxl4xgQBuGZO" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
			</picture>
		
			<h4>Ruby on Rails</h4>
			<h4>Ultra (React/Deno)</h4>
			<h4>Aleph (React/Deno)</h4>
	
	</main>
	<Controls href="rails" />
</Layout>
