---
import Layout from '../layouts/Slide.astro';
import Controls from '../components/Controls.astro';
---

<Layout title="Frameworks">
	<main>
		<header>
			<h1>Modern Frameworks which support Import Maps today!</h1>
		</header>
		<ul style="margin-top:2rem">
			<li>Ruby on Rails</li>
			<li>Ultra (React/Deno)</li>
			<li>Aleph (React/Deno)</li>
		</ul>
	</main>
	<Controls href="rails" />
</Layout>
