---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Cons">
	<main>
		<h1>How we can improve our ecosystem</h1>
    <picture><iframe src="https://giphy.com/embed/utMwbVuNZSSlvej2En" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>    </picture>
  </main>
  <Controls href="optimal" />
</Layout>