---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Importmaps">
	<main>
		<h1>Import Maps</h1>
    <Code code={`{
  "imports": {
    "preact": "https://ga.jspm.io/npm:preact@10.15.1/dist/preact.module.js"
  }
}`} lang="json" theme="dracula" />
    <picture>
        <img src="/importmaps.png" alt="ðŸ˜" >
      </picture>
  </main>
  <Controls href="rails.html" />
</Layout>