---
import Layout from '../layouts/Slide.astro';
import Controls from '../components/Controls.astro';
---

<Layout title="Import Maps + HTTP Imports">
	<main>
		<h1>Import Maps + HTTP Imports</h1>
		<picture>
			<img src="esm.jpeg" width="900">
		</picture>
		<h4>Native ESM in the browser and beyond... TODAY!</h4>
		<h4>(It's not so scary)</h4>
	</main>
	<Controls href="who" />
</Layout>
