---
import Layout from '../layouts/Slide.astro';
import Controls from '../components/Controls.astro';
---

<Layout title="Import Maps + HTTP Imports">
	<main>
		<header>
			<h1>Import Maps + HTTP Imports</h1>
		</header>
		<!-- <picture>
			<img src="import-maps.png" width="800">
		</picture> -->
		<h4>Native ESM in the browser and beyond</h4>
	</main>
	<Controls href="what.html" />
</Layout>
