---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Build Tooling">
	<main>
		<h1>Build Tooling</h1>
    <h2>Deno / vendor</h2>
    <h2>esm.sh local</h2>
    <h2>Mesozoic</h2>
    <picture>
      <img src="mesozoic.png">
    </picture>
  </main>
  <Controls href="sindre" />
</Layout>