---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Node">
	<main>
		<h1>Native module resolution vs Node module resolution</h1>
    <picture>
      <img src="https://i.redd.it/tfugj4n3l6ez.png">
    </picture>
  </main>
  <Controls href="why.html" />
</Layout>