---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Node">
	<main>
		<h1>Differences with package.json</h1>
    <h2>package.json</h2>
    <Code code={`{
  "dependencies": {
    "react": "^18.2.0",
    "react-dom": "^18.2.0",
  },
}`} lang="json" theme="dracula"/>

<h2>importmap.json</h2>
<Code code={`{
  "imports": {
    "react": "https://esm.sh/react@18.2.0",
    "react-dom": "https://esm.sh/react-dom@18.2.0",
  }
}`} lang="json" theme="dracula" />
  </main>
  <Controls href="deno-2" />
</Layout>