---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Cons">
	<main>
		<h1>How we can improve our ecosystem</h1>
    <picture><img src="optimal.png"/></picture>
  </main>
  <Controls href="sindre" />
</Layout>