---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Ruby on Rails">
	<main>
		<h1>Ruby on Rails (V7) natively supports importmaps!</h1>
    <picture>
			<img src="rails.png">
		</picture>
    <picture>
			<img src="dhh.png">
		</picture>
	</main>
  <Controls href="ultra.html" />
</Layout>
