---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Scopes">
	<main>
		<h1>Scopes</h1>
    <p>Scopes allow different versions of a module to be used depending on what code is doing the importing.</p>
    <Code code={`<script type="importmap">
  {
    "imports": {
      "square": "./module/shapes/square.js"
    },
    "scopes": {
      "/modules/customshapes/": {
        "square": "https://example.com/modules/shapes/square.js"
      }
    }
  }
</script>`} lang="html" theme="dracula" />
  </main>
  <Controls href="code-splitting" />
</Layout>