---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Legends">
	<main>
		<h1>Legends of ESM</h1>
    <h2>sindresorhus</h2>
    <picture><img src="/sindre.png"></picture>
    <p><a href="https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c" target="_blank">Gist link</a></p>
  </main>
  <Controls href="wooorm" />
</Layout>