---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="What">
	<main>
		<h1>What is an Import Map?</h1>
    <p>Import Maps allow usage of bare specifiers across your ESM codebase.</p>
    <Code code={`{
  "imports": {
    "react": "https://esm.sh/react"
  }
}`} lang="json" theme="dracula" />
  </main>
  <Controls href="why.html" />
</Layout>