---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="What">
	<main>
		<h1>What is an Import Map?</h1>
    <p>Import Maps allow usage of bare specifiers across your ESM codebase.</p>
    <Code code={`{
  "imports": {
    "react": "https://esm.sh/react",
    "app": "/src/app.js"
  }
}`} lang="json" theme="dracula" />
  <p>Bare specifiers resolve to a relative paths or fully-qualified urls.</p>
  </main>
  
  <Controls href="why" />
</Layout>