---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="What">
	<main>
		<h1>Omar Mashaal</h1>
    <h2>Exhibitionist Digital</h2>
    <picture>
      <video src="https://teacups.io/static/powerhouse.mp4" width="1200" muted autoplay loop></video>
    </picture>
   
      <img src="rising-2022.webp">
   
    <img src="dm.png" width="600">
    <video src="https://teacups.io/static/delusional-world.mp4" muted autoplay loop></video>
  </main>
  
  <Controls href="background" />
</Layout>