---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Why">
	<main>
		<h1>Why is this cool?</h1>
    <picture>
      <iframe src="https://giphy.com/embed/v2WITHMTmdIA0" width="480" height="244" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </picture>
    <ol style="margin-top:2em">
      <li>This allows you to both write and ship applications in modern js.</li>
      <li>Your tooling/build chain can be heavily reduced.</li>
      <li>No bundling is required! (Don't let Big JS™ gaslight you into thinking bundlers are neccesary, everything comes at a cost!)</li>
      <li>Source code and dependencies can be dynamically loaded as needed!</li>
      <li>Leaning into native features is less susceptible to anti-patterns.</li>
      <li>It's just JS at the end of the day.</li>
    </ol>
  </main>
  <Controls href="example" />
</Layout>