---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
import Controls from '../components/Controls.astro';
---

<Layout title="Legends">
	<main>
		<h1>Legends of ESM</h1>
    <h2>wooorm</h2>
    <picture><img src="/wooorm.png"></picture>
    <p><a href="https://github.com/wooorm/starry-night" target="_blank">Starry Night</a></p>
  </main>
  <Controls href="frameworks" />
</Layout>